:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #0060F9;
  --secondary-color: #0060F9;
  --dark-secondary-color: #0060F9;
  --tertiary-color: #E3008C;
  --light-tertiary-color: #f3f6fb;
  --text-color: #343d48;
  --light-pink: #e3008c16 ;

  --font-family: 'DM Sans', sans-serif;
}
